<h1><%= @player.name %> stats</h1>

<table>
  <%= render 'header', player: @player %>
  <%= @seasons.each do |season| %>
    <%= render 'season_row', player: @player, season: season %>
  <% end %>
</table>
