<tr>
  <% RosterParser::ROW_HEADERS.values.each do |attr| %>
    <% if attr == :name %>
      <td><%= link_to player.send(attr), player_seasons_path(player) %></td>
    <% else %>
      <td><%= player.send(attr) %></td>
    <% end %>
  <% end %>
</tr>
